<div class="container">
    <legend>Job Portal</legend>
    <form [formGroup]="jobForm" (ngSubmit)="save()">

        <div class="row">
            <div class="col col-md-5">
                <label for="job_number" class="form-label">Job number
                    <span class="red-text" *ngIf="jobForm.controls.job_number.errors?.['required']">*</span>
                </label>
                <input type="text" class="form-control" id="job_number" formControlName="job_number" />
            </div>
            <div class="col col-md-5">
                <label for="job_title" class="form-label">Job Title
                    <span class="red-text" *ngIf="jobForm.controls.job_title.errors?.['required']">*</span>
                </label>
                <input type="text" class="form-control" id="job_title" formControlName="job_title" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-md-5">
                <label for="job_start_date" class="form-label">Job Start Date
                    <span class="red-text" *ngIf="jobForm.controls.job_start_date.errors?.['required']">*</span>
                </label>
                <input type="date" class="form-control" id="job_start_date" formControlName="job_start_date" />
            </div>
            <div class="col col-md-5">
                <label for="job_close_date" class="form-label">Job Close Date
                    <span class="red-text" *ngIf="jobForm.controls.job_close_date.errors?.['required']">*</span>
                </label>
                <input type="date" class="form-control" id="job_close_date" formControlName="job_close_date" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-md-12">
                <label for="experience_required" class="form-label" style="margin-right: 10px;">Experience
                    Required
                    <span class="red-text" *ngIf="jobForm.controls.experience_required.errors?.['required']">*</span></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="experience_required" id="inlineRadio1"
                        value="true">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="experience_required" id="inlineRadio2"
                        value="false">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-md-5">
                <label for="number_of_openings" class="form-label">Number of openings
                    <span class="red-text" *ngIf="jobForm.controls.number_of_openings.errors?.['required']">*</span>
                </label>
                <input type="text" class="form-control" id="number_of_openings" formControlName="number_of_openings" />
                <div *ngIf="jobForm.controls.number_of_openings.errors?.['pattern']" class="red-text">Enter only number.</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-md-8">
                <label for="job_notes" class="form-label">Job Notes
                    <span class="red-text" *ngIf="jobForm.controls.job_notes.errors?.['required']">*</span>
                </label>
                <textarea class="form-control" id="job_notes" formControlName="job_notes"></textarea>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!jobForm.valid">Submit</button>
    </form>
</div>